<app-header titulo="Progress Bar"></app-header>

<ion-content>
  <ion-progress-bar [value]="porcentaje">

  </ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-range
        min="0" max="100"
        dualKnobs="true" pin="true"
        snaps="true" step="1"
        ticks="false" value="0"
        color="tertiary"
        (ionChange)="cambioRango($event)">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
